body{
    background-color: rgb(109, 156, 159);
    font-family: cursive;
}
 .box{
    background-color: rgb(208, 255, 216);
    margin: auto;
    width: max-content;
    /* margin: 10px; */
    padding :30px;
 }
li{
    list-style-type: square;
    color: rgb(84, 78, 2);
    cursor: pointer;
    margin: 10px;
    font-size: 30px;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
#outerbar{
    height: 40px;
    width: 80%;
    border: 2px solid black;
    margin: auto;
}
#completion_counter{
    text-align: center;
    font-size: 20px;
}