body{
    background-color: rgb(109, 156, 159);
    font-family: cursive;
}
 .box{
    background-color: rgb(208, 255, 216);
    margin: auto;
    width: max-content;
    /* margin: 10px; */
    padding :30px;
 }
li{
    list-style-type: square;
    color: rgb(84, 78, 2);
    cursor: pointer;
    margin: 10px;
    font-size: 30px;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
#innerbar{
    height: 100%;
    width: 0%;
    background-color: rgb(76, 241, 76);
    text-align: center;
    color: white;
}
#outerbar{
    height: 40px;
    width: 80%;
    border: 3px solid black;
    margin: auto;
    border-radius: 10px;
}
#completion_counter{
    text-align: center;
    font-size: 20px;
}
button{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}