body{
    background-color: lightgray;
    margin: auto;
}
.section{
    display: none;
    margin: 10px;
    padding: 5px;
    border:2px solid black;
    background-color: lightgreen;
}
form{
    margin: auto;
    background-color: rgb(213, 201, 180);
    width: max-content;
    padding: 10px;
}
button{
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: wheat;
}