body{
    background-color: cornflowerblue;
    font-family: cursive;
}
.box{
    background-color: turquoise;
    margin: auto;
    width: max-content;
    padding: 20px;
}
#counter{
    font-size: 20px;
    margin-bottom: 20px;
    
}