body{
    background-color: beige;
    /* margin: auto; */
}
h1{
    text-align: center;
    color: brown;
}
p{
    font-size: 20px;
    color: darkgreen;
    align-items: center;
}
button{
    margin: auto;
    padding: 10px 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; 
}
#red{
    background-color: red;
    /* color: white; */
    border: 2px solid black;
}
#blue{
    background-color: blue;
    /* color: white; */
    border: 2px solid black;
}
#green{
    background-color: green;
    /* color: rgb(172, 108, 108); */
    border: 2px solid black;
}
#yellow{
    background-color: yellow;
    /* color: rgb(172, 108, 108); */
    border: 2px solid black;
}
p{
    text-align: center;
    color: rgb(0, 255, 242);
}
.btn {
    padding: 15px 25px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.highlight {
            transform: scale(1.2);
            box-shadow: 0px 0px 15px black;
        }
#reset{
    background-color: orange;
    border: 2px solid black;
    /* align-items: center; */
}