body{
    background-color: beige;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
    color: brown;
}
p{
    font-size: 20px;
    color: darkgreen;
    align-items: center;
}
button{
    padding: 10px 20px;
    height: 80px;
    width: 160px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; 
}
#red{
    background-color: red;
    /* color: white; */
    border: 2px solid black;
}
#blue{
    background-color: blue;
    /* color: white; */
    border: 2px solid black;
}
#green{
    background-color: green;
    /* color: rgb(172, 108, 108); */
    border: 2px solid black;
}
#yellow{
    background-color: yellow;
    /* color: rgb(172, 108, 108); */
    border: 2px solid black;
}
p{
    text-align: center;
    color: rgb(0, 0, 0);
}
.btn {
    padding: 15px 25px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight {
            transform: scale(1.2);
            box-shadow: 0px 0px 15px black;
        }
#reset{
    background-color: orange;
    border: 2px solid black;
    /* align-items: center; */
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reset{
    height: 40px;
    width: 140px;
}